.loginTitle{
    font-size: 24px;
  font-weight: 600;
  color: #0f172a;
  margin-top: 24px;
}
.login-section{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    align-items: center;
}
.email{
    font-size: 16px;
  font-weight: 400;
  width: 300px;
}
.password{
    font-size: 16px;
  font-weight: 400;
  width: 300px;
}
.login{
    margin-top: 16px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    background-color: #7C3AED;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 150px;
}
#msg{
    color: #DC2626;
    font-weight: 300;
    font-size: 18px;
    padding: 8px 0;

}

@media(max-width: 480px){
  .hamburger {
    display: block;
  }

  .nav-links {
    /* position: absolute; */
    top: 72px;
    right: 16px;

    background: white;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
    border-radius: 12px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.25s ease;
  }

  .nav-links.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  .nav-links {
  border: 2px solid #E2E8F0;
}
}