label{
    font-size: 24px;
}
input{
    height: 24px;
    border: 2px solid black;
}
button{
    width: 150px;
    height: 30px;
    font-size: 16px;
    background-color: greenyellow;
}
#total{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}